header {
  background-image: url(../../assets/images/background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  max-height: 780px;
  background-size: cover;
  color: #fff;
  nav li a {
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}

.form-check label {
  text-transform: uppercase;
}

input[type="checkbox"] {
  width: 15px;
  /*Desired width*/
  height: 15px;
  /*Desired height*/
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border: 1px solid #aa9b77;
}

section.library {
  background-color: #f5f6f7;
}

input[type=checkbox] {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    /* Above three lines allow the checkbox:after position at checkbox's position */
    content: '';
    width: 32px;
    height: 32px;
    z-index: 1;
  }
}

/*test*/

.custom-check {
  line-height: 1rem;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.custom-check {
  margin-bottom: 0;
}

.btn.btn-custom {
  background-color: #aa9b77;
  line-height: .5rem;
  color: #fff;
  font-size: .7rem;
  padding: 0.5rem .75rem;
}

/* Hide the browser's default checkbox */

.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border: 1px solid #aa9b77;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #c5b6b6;
}

/* On mouse-over, add a grey background color */

.custom-check {
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input:checked ~ .checkmark {
    background-color: #aa9b77;
  }
}

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.custom-check {
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Style the checkmark/indicator */

.card.card-personal {
  img.card-img-top {
    width: auto;
    max-height: 190px;
  }
  transition: 0.5s;
  background-color: #f5f6f7;
  &:hover {
    border: 1px solid #a99b77;
  }
  p, span {
    font-size: .8rem;
    margin-bottom: 0;
  }
}

.card-body {
  padding: 1rem;
  text-transform: uppercase;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #62635a;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
}

span.dot {
  &:nth-child(2) {
    background-color: #ca5f35;
  }
  &:nth-child(3) {
    background-color: #3599ca;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  .pt-5-1 {
    padding-top: 6rem !important;
  }
}